@model MasterDetailJS.Models.Tunnit

@{
    ViewBag.Title = "Delete";
}


<h3>Haluatko varmasti poistaa tämän tunti-id:n?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TuntiId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuntiId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tunnit1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tunnit1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjektiId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjektiId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HenkiloId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HenkiloId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin tunnit-tauluun", "Index")
        </div>
    }
</div>