@model IEnumerable<MasterDetailJS.Models.Tunnit>

@{
    ViewBag.Title = "Index";
}

<h2>Projektien tunnit</h2>

<p>
    @Html.ActionLink("Lisää uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TuntiId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tunnit1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjektiId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HenkiloId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.TuntiId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pvm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tunnit1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjektiId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HenkiloId)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id = item.TuntiId }) |
            @Html.ActionLink("Poista", "Delete", new { id = item.TuntiId })
        </td>
    </tr>
}

</table>