@model MasterDetailJS.Models.Projektit

@{
    ViewBag.Title = "Delete";
}

<h3>Haluatko varmasti poistaa tämän projekti-id:n?</h3>
<h4>Et voi poistaa projektia, jos tunnit-taulussa on siihen yhdistyviä tunteja.</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjektiId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjektiId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin projektit-tauluun", "Index")
        </div>
    }
</div>
